@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Sniglet", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

code {
  background: rgb(253 224 71 / var(--tw-border-opacity));
  padding: 4px 8px;
  border-radius: 4px;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.MuiAlert-outlined {
  border: none !important;
  padding: 2px !important;
}.app-container {
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  font-family: "Sniglet", sans-serif;
  width: 100vw;
  max-width: 1440px
}
